<div class="row mt-5">
  <div class="col-6 mx-auto">

    <h1><span class="badge"><i class="fa fa-lock"></i></span>Login </h1>

      <div class="form-group">
          <label for="email">Email</label>
          <input email required #em="ngModel" [(ngModel)]="email" type="email" name="email" id="email" class="form-control">
          <div class="alert alert-warning" *ngIf="em.invalid && (em.touched || em.dirty)">
            <div *ngIf="em.errors.required">This field is required !!</div>
            <div *ngIf="em.errors.email">This field not respect email pattern !!</div>
          </div>
      </div>
        
      <div class="form-group">
          <label for="password">Password</label>
          <input minlength="6" required #pass="ngModel" [(ngModel)]="password" type="password" name="password" id="password" class="form-control">
          <div class="alert alert-warning" *ngIf="pass.invalid && (pass.touched || pass.dirty)">
            <div *ngIf="pass.errors.required">This field is required !!</div>
            <div *ngIf="pass.errors.minlength">The password don't must be less than 6 chars !!</div>
          </div>
      </div>
      <h6 (click)="loginWithGoogle()" class="btn">Login with  <span class="badge badge-secondary">Google</span></h6>
      
      <button [disabled]="pass.invalid || em.invalid" (click)="authentication()" class="btn btn-dark btn-block"><i class="fa fa-user mr-2"></i>Login</button>

  </div>
</div>